*.d.ts
infrastructure/cdk/bin/*.js
infrastructure/cdk/lib/*.js
infrastructure/cdk/lib/layer/*.js
infrastructure/cdk/lib/util/*.js
infrastructure/cdk/cdk.out/
infrastructure/cdk/node_modules/
infrastructure/cdk/test/*.js
*.yaml
.DS_Store
infrastructure/cdk/test/*.js
infrastructure/cdk/test/simple.test.js
